<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients</title>
</head>
<body>
    <h1>Modifier</h1>
    <form action="/edit/{{ customer.id }}" method="POST">
        <input type="hidden" name="id" value="{{ customer.id }}" required>
        <input type="text" name="nom" placeholder="Nom" value="{{ customer.nom }}" required>
        <input type="text" name="prenom" placeholder="Prénom" value="{{ customer.prenom }}" required>
        <button type="submit">Modifier</button>
    </form>
</body>
</html>
